GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
SESSION_SECRET=
ALLOWED_ADMIN_EMAIL=dariuzcesar@gmail.com
GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=
NEXT_PUBLIC_WHATSAPP_NUMBER=523122247792
NEXT_PUBLIC_SITE_URL=https://galeria.dariuzph.com
